name: Building Spadikam project
on: 
    push:
        branches:
        - "main"


jobs:
    build:
        runs-on: "ubuntu-latest"
    
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Login to GCR
              uses: docker/login-action@v1
              with:
                registry: ghcr.io
                username: ${{github.actor}}
                password: ${{secrets.GITHUB_TOKEN}}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                file: ./Dockerfile
                push: true
                tags: ghcr.io/${{github.actor}}/spadikam:latest